<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/custom.css' />
</head>
<script type="text/javascript" src="/thirdparty/jquery-3.1.1.min.js"></script>

<body>
<button type="button" id="customBtn">{{btn}}Test</button>
</body>
<script type="text/javascript" src="/js/custom.js"></script>
</html>
